Repository ansible-collections/amazon.cloud, pull requests merged in 2023-06, with the labels that each got.

#85 memorydb_* modules
  plugins/modules/memorydb_acl.py
  plugins/modules/memorydb_cluster.py
  plugins/modules/memorydb_parameter_group.py
  plugins/modules/memorydb_subnet_group.py
  plugins/modules/memorydb_user.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.9.txt
Labels: mergeit

#90 Tox update v2
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tools/update_constants.py
  tox.ini
Labels: skip-changelog

#92 Prepare release 0.4.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/20230426-update_readme_and_runtime.yml
  changelogs/fragments/add_unit_sanity_workflows.yaml
  changelogs/fragments/avoid_KeyError_exception_during_wait.yaml
  changelogs/fragments/black_format.yaml
  changelogs/fragments/cleanup.yml
  changelogs/fragments/remove_used_import.yaml
  changelogs/fragments/standardize_requirements.yml
  galaxy.yml
  plugins/module_utils/common.py
  plugins/module_utils/core.py
Labels: mergeit, skip-changelog, ok -to-tag

#95 0.4.0 minor updates
  changelogs/changelog.yaml
  galaxy.yml
Labels: skip-changelog, ok-to-tag

#108 Backport PR107 to Release branch 0.4.0
  .github/workflows/release-tag.yml
Labels: skip-changelog, ok-to-tag
